---
const { href, download } = Astro.props
---

<a
	href={href}
	role="link"
	class="group inline-flex max-w-fit items-center justify-center gap-2 rounded-md bg-accent-secondary/50 px-4 py-2 text-base font-semibold text-white/90 backdrop-blur-sm transition hover:bg-accent-secondary active:bg-accent"
	{...download && 'download'}
>
	<slot />
</a>
