<a
	{...Astro.props}
	target="_blank"
	class="inline-flex items-center justify-center gap-2 rounded-full bg-accent-secondary/50 px-4 py-1 text-tx-primary backdrop-blur-sm transition hover:bg-accent-secondary"
>
	<slot />
</a>
